<div class="container" style="position: relative;top: 25px;">
    <div class="row">
        <div class="col">
            <table class="table table-striped table-bordered table-hover table-dark">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Carnet</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                        <th>Edad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th><i class="bi bi-person-fill text-white"></i> Randy Alexander Can Ajuchan</th>
                        <th>201801527</th>
                        <th>canalex210@gmail.com</th>
                        <th>54875373</th>
                        <th>21</th>
                    </tr>

                    <tr>
                        <th><i class="bi bi-person-fill text-white"></i> Luis Pedro Pineda González</th>
                        <th>201700995</th>
                        <th>luispinedagonzalez33@gmail.com</th>
                        <th>47649135</th>
                        <th>23</th>
                    </tr>
                    <tr>
                        <th><i class="bi bi-person-fill text-white"></i> Sergio Rivelino Pérez Rivera</th>
                        <th>201603156</th>
                        <th>perez10serive@gmail.com</th>
                        <th>36932305</th>
                        <th>24</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>