<div class="container p-5">
    <div class="container">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-6 btn-dark" style="padding-bottom: 25px;border-radius: 8px;">
          <br><br>
          <h3 class="h3 mb-3 fw-normal text-center">ACTUALIZACION DE EMPLEADO</h3>
          <br>
          <form >
  
            <div class="form-group mb-2">
              <!-- nombre -->
              <label for="zip_id" class="control-label">nombres</label>
              <input type="text" id="nombre" name="nombre" [(ngModel)]= "miEmpleado.nombre" class="form-control"  placeholder="nombre">
            </div>
  
            <div class="form-group mb-2">
              <!-- apellido -->
              <label for="zip_id" class="control-label">apellidos</label>
              <input type="text" [(ngModel)]= "miEmpleado.apellido" class="form-control" id="apellido" name="apellido" placeholder="apellido">
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Correo</label>
                <input type="email" class="form-control" id="correo" [(ngModel)]= "miEmpleado.correo" name="correo" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Nunca compartiremos su correo electrónico con nadie más.</div>
              </div>

              <div class="form-group mb-2">
                <!-- telefono -->
                <label for="zip_id" class="control-label">telefono</label>
                <input type="text" [(ngModel)]= "miEmpleado.telefono" class="form-control" id="telefono" name="telefono" placeholder="telefono">
              </div>
  
  
            <div class="form-group mb-2">
              <!-- edad-->
              <label for="zip_id" class="control-label">edad</label>
              <input [(ngModel)]= "miEmpleado.edad" class="form-control" name="edad" id="edad" type="number" min="1" max="120" pattern="^[0-9]+" placeholder="0">
            </div>

            <div class="form-group mb-2">
                <!-- edad-->
                <label for="zip_id" class="control-label">sueldo</label>
                <input [(ngModel)]= "miEmpleado.sueldo" class="form-control" name="sueldo" id="sueldo" type="number" min="0" max="100000" pattern="^[0-9]+" placeholder="0">
              </div>
  
              <div class="form-group mb-2">
                <label for="address" class="form-label">Direccion</label>
                <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]= "miEmpleado.direccion" placeholder="1234 Main St" required>
                <div class="invalid-feedback">
                  Please enter your shipping address.
                </div>
              </div>
  
  
          </form>
          <br>
          <div class="d-grid gap-2">
            <button type="button" class="btn btn-primary" (click)="update()">Actualizar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
